/* General styles */
body {
    background-color: #171717;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header .navbar .bg-light,
header .bg-light {
    display: flex;
    justify-content: space-between;
    background-color: #1d2227;
}

.bg-body {
    background-color: #1a1a1a00 !important;
    margin-top: 50px;
}

.logo img {
    width: 80%;
    margin-left: 7% !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-left: 31px;
    font-size: 20px;
}

.nav-link {
    color: white;
}

.carrinho a {
    margin-left: 27px;
    position: absolute;
    top: 15px;
}

.btn-outline-success {
    position: absolute !important;
    left: 35% !important;
    border: none !important;
    color: #BDBBBB !important;
}

.carrinho {
    position: absolute;
    left: 85%;
    top: 22px;
    width: 65px;
    height: 40px;
    font-size: 16px;
}

.categoria {
    display: inline-block;
    margin-right: 10px;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    top: 118px;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.d-flex {
    display: flex !important;
    position: absolute;
    top: 167px;
    left: 14%;
}

.w-100 {
    width: 74% !important;
    margin-left: 14%;
    margin-top: -114px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.carousel-inner {
    position: relative;
    width: 100%;
    margin-top: 103px;
    overflow: hidden;
}

.col-md-4 {
    flex: 0 0 calc(16.66% - 20px);
    margin: 10px;
}
.imagemProduto img {
    width: 192px;
    object-fit: cover;
    border-radius: 4px;
    height: 269px;
}

.card-title {
    font-size: 1.2rem;
    margin-top: 10px;
}

.card {
    border: none;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 5px;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
}

.card .card-body {
    background-color: #171717;
    border: none;
}

p {
    color: white;
}

.bg-light {
    background-color: #1F242F !important;
}

a {
    color: white;
    text-decoration: none;
}

.form-control {
    border-radius: 20px;
    background-color: #3E3838;
    border: none;
}

.btn-outline-success {
    margin-left: 40px !important;
}

h5 {
    color: white;
}

.card-text {
    color: #00C2FF;
}

.btn-primary {
    color: #fff;
    background-color: green;
    border: none;
}

.nintendo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    margin-top: -67px;
    margin-left: -6%;
}
.playstation {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 8%;
    width: 70%;
    gap: 260px;



}
.playstation img{

    width: 450px;


}
.rpg {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    margin-top: 100px;
    margin-left: 3%;
    width: 90%;
    gap: 86px;



}
.rpg .btn {
    color: white;
    background-color: green;
    width: 325px;




}
.rpg img{

    width:325px;
    height: 192px;


}

.text-muted {
    color: #6c757d !important;
    background-color: #1c1c1c;
}

h1 {
    color: white;
    margin-left: 253px;
    position: relative;
    top: 63px;
    font-family: ui-sans-serif;
}

h2 {
    color: white;
    margin-right: 675px;
    font-size: 37px;
    position: relative;
    top: 70px;
    font-family: ui-sans-serif;
}

.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px 0;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    width: 75%;
    margin-left: 13%;
    margin-top: 45px;
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem em navegadores WebKit */
}

.card-custom {
    flex: 0 0 auto;
    width: calc(16.66% - 20px);
    margin-left: 10px;
}

/* Estilo para os botões de rolagem */
.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 0; /* Posiciona os botões na parte superior da div */
    z-index: 10;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

#scrollLeft {
    right: 300px; /* Posiciona o botão à esquerda */
    height: 30px;
    width: 30px;
    margin-top: 86px;
}

#scrollRight {
    right: 250px; /* Posiciona o botão à direita */
    height: 30px;
    width: 30px;
    margin-top: 86px;
}

/* Ajuste para 3 colunas em telas maiores */
.card-custom {
    flex: 0 0 auto;
    width: calc(20.33% - 20px);
    margin-left: 10px;
}

/* Media Queries */
@media (max-width: 1500px) {
    .card-custom {
        width: calc(20% - 20px); /* Ajuste para 4 colunas em telas médias */
    }
h1 {
    color: white;
    margin-left: 15%;
    position: relative;
    top: 63px;
    font-family: ui-sans-serif;
}
    .horizontal-scroll-container {
        width: 82%;
        margin-left: 10%;
    }
    #scrollRight {
        right: 125px;
        height: 30px;
        width: 30px;
        margin-top: 86px;
    }
    #scrollLeft {
        right: 162px;
        height: 30px;
        width: 30px;
        margin-top: 86px;
    }
        h1 {
        color: white;
        margin-left: 12%;
        position: relative;
        top: 63px;
        font-family: ui-sans-serif;
    }
}

@media (max-width: 1300px) {
    .horizontal-scroll-container {
        width: 91%;
        margin-left: 5%;
    }
        h1 {
        color: white;
        margin-left: 7%;
        position: relative;
        top: 63px;
        font-family: ui-sans-serif;
    }
}

@media (max-width: 1200px) {
    .card-custom {
        width: calc(25% - 20px); /* Ajuste para 4 colunas em telas médias */
    }
}

@media (max-width: 992px) {
        .horizontal-scroll-container {
        width: 91%;
        margin-left: 2%;
        margin-top: 32px;
    }
    .w-100 {
    width: 89% !important;
    margin-left: 6%;
    margin-top: -114px;
    height: 559px;
}
        #scrollRight {
        right: 76px;
        height: 30px;
        width: 30px;
        margin-top: 66px;
    }
       #scrollLeft {
        right: 111px;
        height: 30px;
        width: 30px;
        margin-top: 66px;
    }
    h1 {
        color: white;
        margin-left: 7%;
        position: relative;
        top: 48px;
        font-family: ui-sans-serif;
    }
    h2 {
    color: white;
    margin-right:300px;
    font-size: 37px;
    position: relative;
    top: 70px;
    font-family: ui-sans-serif;
}
}
@media (max-width: 850px) {
    horizontal-scroll-container {
        width: 124%;
        margin-left: 5%;
    }
    .imagemProduto img {
        width: 166px;
        object-fit: cover;
        border-radius: 4px;
        height: 221px;
    }
    
h2 {
    color: white;
    margin-right: 375px;
    font-size: 37px;
    position: relative;
    top: 70px;
    font-family: ui-sans-serif;
}
}
@media (max-width: 768px) {
    .card-custom {
        width: calc(50% - 20px); /* Ajuste para 2 colunas em telas menores */
    }

    .imagemProduto img {
        width: 233px;
        object-fit: cover;
        border-radius: 4px;
        height: 356px;
    }
    #scrollRight {
        right: 135px;
        height: 30px;
        width: 30px;
        margin-top: 76px;
    }
        #scrollLeft {
        right: 175px;
        height: 30px;
        width: 30px;
        margin-top: 76px;
    }
    h2 {
    color: white;
    margin-right: 275px;
    font-size: 37px;
    position: relative;
    top: 70px;
    font-family: ui-sans-serif;
}
}

@media (max-width: 576px) {
    .card-custom {
        width: calc(60% - 20px); /* Ajuste para 1 coluna em telas muito pequenas */
        margin-left: 0;
    }
      .w-100 {
        width: 82% !important;
        margin-left: 14%;
        margin-top: -114px;
        height: 395px;
    }
    horizontal-scroll-container {
        width: 86%;
        margin-left: 1%;
    }

    .imagemProduto img {
        width: 185px;
        object-fit: cover;
        border-radius: 4px;
        height: 300px;
    }
    #scrollRight {
       display: none;
    }
    #scrollLeft {
              display: none;

    }
   h2 {
    color: white;
    margin-right: 75px;
    font-size: 37px;
    position: relative;
    top: 70px;
    font-family: ui-sans-serif;
}
}
