<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>produtosController</servlet-name>
        <servlet-class>controller.ProdutosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tela1</servlet-name>
        <servlet-class>controller.tela1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoUncioController</servlet-name>
        <servlet-class>controller.ProdutoUncioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoController</servlet-name>
        <servlet-class>controller.CarrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carrinhoController</servlet-name>
        <servlet-class>controller.carrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checoltController</servlet-name>
        <servlet-class>controller.checolt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>controller.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoUser</servlet-name>
        <servlet-class>controller.HistoricoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoPedidos</servlet-name>
        <servlet-class>controller.HistoricoPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historicoPedidoUser</servlet-name>
        <servlet-class>controller.historicoPedidoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NintendoController</servlet-name>
        <servlet-class>controller.NintendoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nintendos</servlet-name>
        <servlet-class>controller.Nintendos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrigController</servlet-name>
        <servlet-class>controller.ObrigController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/cadastrar-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/cadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/buscar-produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tela1</servlet-name>
        <url-pattern>/tela1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/cadastro-usuaria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoUncioController</servlet-name>
        <url-pattern>/ProdutoUnico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>produtosController</servlet-name>
        <url-pattern>/carrinhos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/Carrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carrinhoController</servlet-name>
        <url-pattern>/carrinhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoUser</servlet-name>
        <url-pattern>/HistoricoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoPedidos</servlet-name>
        <url-pattern>/HistoricoPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historicoPedidoUser</servlet-name>
        <url-pattern>/historicoPedidoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NintendoController</servlet-name>
        <url-pattern>/Nintendo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nintendos</servlet-name>
        <url-pattern>/Nintendos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrigController</servlet-name>
        <url-pattern>/ObrigController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
